<nz-layout class="layout" style="height: 100%">
  <nz-header>
    <div class="logo">
      <img src="../../assets/logo.png" alt="ICICI Prudential">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item (click)="menuClick('TEMP')">Temperature</li>
      <li nz-menu-item (click)="menuClick('FAS')" title="Fire Alarm System">FAS</li>
      <li nz-menu-item (click)="menuClick('DVR')" title="Digital Video Recording">DVR</li>
      <li class="changeLocation">
        <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
          <a nz-dropdown>
            <i class="anticon anticon-environment-o"></i> {{location}}
          </a>
          <ul nz-menu>
            <li nz-menu-item>Hyderabad</li>
            <li nz-menu-item>Secunderabad</li>
            <li nz-menu-item>XYZ</li>
          </ul>
        </nz-dropdown>
      </li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <div style="background:#fff; padding: 24px; min-height: 280px;" [ngSwitch]="menu">
      <div *ngSwitchCase="'TEMP'"><app-temperature></app-temperature></div>
      <div *ngSwitchCase="'FAS'"><app-fas></app-fas></div>
      <div *ngSwitchCase="'DVR'"><app-dvr></app-dvr></div>
      <div *ngSwitchDefault>default</div>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Copyright @ Creative IBMS</nz-footer>
</nz-layout>

<!-- temp=date, time, temp, humidity
fas(fire alarm system)=date, time, status(normal, active)
dvr(digital video recording)=no data -->